.container{
    display:flex;
    flex-direction: column;
}

.btn-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:1rem 0;
}

@media (max-width:480px){

    .teaser{
        display:none;
    }

    .custom-btn{
        padding:1rem;
    }
}