h3{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    color:#d3d3d3;
}

.list-group{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    list-style-type: none;
    padding:0;
    margin:2rem 0;
}