/* You can add global styles to this file, and also import other style files */

body{
    padding:0;
    margin:0;
}


.container{
    max-width:1400px;
    padding:3rem;
    margin:0 auto;
}

.teaser{
    font-size:1.4rem;
    font-family: 'Helvetica';
}

.custom-btn{
    border:none;
    border-radius:50px;
    padding:1rem 2rem;
    cursor:pointer;
    transition: box-shadow 0.225s ease-in-out;
    background-color: #982ae7;
    color:#fff;
    min-width:100px;
}

.custom-btn:hover{
    box-shadow: 0 5px 5px lightgrey;
}

@media (max-width:480px){
    .container{
        padding:1.5rem;
    }
}
